<div class="navbar">
  <h2>Mini Speed Game</h2>
</div>

<div *ngIf="message.length" class="modal">
  <div class="modal-content">
    <div class="modal-body">{{ message }}</div>
    <div class="modal-footer">
      <button (click)="closeModal()">Close</button>
    </div>
  </div>
</div>

<div class="content">
  <div class="cells-container">
    <div
      class="cell"
      *ngFor="let cell of cells"
      class="{{ cell.status }}"
      (click)="cellClicked(cell)"
    ></div>
  </div>

  <div class="board">
    <form [formGroup]="timeForm" (ngSubmit)="startGame()">
      <label for="timeLimit">Time limit (ms)</label>
      <input
        type="number"
        id="timeLimit"
        formControlName="timeLimit"
        placeholder="Time limit (ms)"
      />
      <button *ngIf="!gameOver" type="submit" (click)="startGame()" [disabled]="gameInProgress"> Start </button>
      <button *ngIf="gameOver && !gameInProgress" (click)="resetGame()">New Game</button>
    </form>

    <div class="score">
      <div>Player: {{ playerScore }}</div>
      <div>Computer: {{ computerScore }}</div>
    </div>

  </div>
</div>
